.buttonGroup {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: center;
}

.buttonGroup button {
  width: 100px;
  border-radius: 25px;
  background-color: orange;
  color: white;
  border: 2px solid orange;
  font-size: 1.4rem;
}

.input {
  width: 300px;
  border-radius: 25px;
  border: 2px solid white;
  padding: 1rem;
  background-color: white;
  color: black;
  font-size: 1.4rem;
  outline: green;
}

.input::placeholder {
  color: #afafaf;
}
